<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Meta Description -->
    <meta content="" name="description" />
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="css/index.css" />
    <!--Font Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!--FAVICON-->
    <link href="images/coffee-favicon.ico" rel="icon" />
    <title>Welcome <%= user.local.userName %> - Pronto Coffee Co.</title>
  </head>
  <body class="h-full">
    <div>
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <div id="sidebar" class="hidden relative z-40 md:hidden" role="dialog" aria-modal="true">
        <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
        <div class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

        <div class="fixed inset-0 z-40 flex">
          <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
          <div class="relative max-w-xs w-full bg-white pt-5 pb-4 flex-1 flex flex-col">
            <!--
          Close button, show/hide based on off-canvas menu state.

          Entering: "ease-in-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
            <div class="absolute top-0 right-0 -mr-12 pt-2">
              <button
                id="close-sidebar"
                type="button"
                class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              >
                <span class="sr-only">Close sidebar</span>
                <!-- Heroicon name: outline/x -->
                <svg
                  class="h-6 w-6 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>

            <div class="flex-shrink-0 px-4 flex items-center">
              <img src="images/pronto-logo.png" alt="Pronto Logo" />
            </div>
            <div class="mt-5 flex-1 h-0 overflow-y-auto">
              <nav class="px-2 space-y-1">
                <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
                <a
                  href="/profile"
                  class="text-gray-900 group rounded-md py-2 px-2 flex items-center text-base font-medium"
                >
                  <!--
                Heroicon name: outline/home

                Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500"
              -->
                  <svg
                    class="text-gray-500 mr-4 flex-shrink-0 h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                    />
                  </svg>
                  Welcome <%= user.local.userName %> 
                </a>

                <a
                  href="#"
                  class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-base font-medium"
                >
                  <!-- Heroicon name: outline/users -->
                  <svg
                    class="text-gray-400 group-hover:text-gray-500 mr-4 flex-shrink-0 h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                  Baristas
                </a>

                <a
                  href="/order-dashboard"
                  class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-base font-medium"
                >
                  <!-- Heroicon name: outline/inbox -->
                  <svg
                    class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  Order POS
                </a>

                <a
                  href="/barista-order-dashboard"
                  class="bg-gray-100 text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-base font-medium"
                >
                  <!-- Heroicon name: outline/calendar -->
                  <svg
                    class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3a1 1 0 012 0v5.5a.5.5 0 001 0V4a1 1 0 112 0v4.5a.5.5 0 001 0V6a1 1 0 112 0v5a7 7 0 11-14 0V9a1 1 0 012 0v2.5a.5.5 0 001 0V4a1 1 0 012 0v4.5a.5.5 0 001 0V3z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  Make drinks
                </a>

                <a
                  href="#"
                  class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-base font-medium"
                >
                  <svg
                    class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  Clock-in/out
                </a>
              </nav>
            </div>
          </div>

          <div class="flex-shrink-0 w-14">
            <!-- Dummy element to force sidebar to shrink to fit close icon -->
          </div>
        </div>
      </div>

      <!-- Static sidebar for desktop -->
      <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div
          class="border-r border-gray-200 pt-5 flex flex-col flex-grow bg-white overflow-y-auto"
        >
          <div class="flex-shrink-0 px-4 flex items-center">
            <img src="images/pronto-logo.png" alt="Pronto Logo" />
          </div>
          <div class="flex-grow mt-5 flex flex-col">
            <nav class="flex-1 px-2 pb-4 space-y-1">
              <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
              <a
                href="/profile"
                class="text-gray-900 group rounded-md py-2 px-2 flex items-center text-sm font-medium"
              >
                <!--
              Heroicon name: outline/home

              Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500"
            -->
                <svg
                  class="text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  />
                </svg>
                Welcome <%= user.local.userName %>
              </a>

              <a
                href="#"
                class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-sm font-medium"
              >
                <!-- Heroicon name: outline/users -->
                <svg
                  class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
                Baristas
              </a>

              <a
                href="/order-dashboard"
                class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-sm font-medium"
              >
                <!-- Heroicon name: outline/inbox -->
                <svg
                  class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Order POS
              </a>

              <a
                href="/barista-order-dashboard"
                class="bg-gray-100 text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-sm font-medium"
              >
                <!-- Heroicon name: outline/calendar -->
                <svg
                  class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M9 3a1 1 0 012 0v5.5a.5.5 0 001 0V4a1 1 0 112 0v4.5a.5.5 0 001 0V6a1 1 0 112 0v5a7 7 0 11-14 0V9a1 1 0 012 0v2.5a.5.5 0 001 0V4a1 1 0 012 0v4.5a.5.5 0 001 0V3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Make drinks
              </a>

              <a
                href="#"
                class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group rounded-md py-2 px-2 flex items-center text-sm font-medium"
              >
                <!-- Heroicon name: outline/chart-bar -->
                <svg
                  class="text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                Clock-in/out
              </a>
            </nav>
          </div>
        </div>
      </div>

      <div class="md:pl-64">
        <div class="max-w-[95rem] mx-auto flex flex-col md:px-8 xl:px-0">
          <div class="sticky top-0 z-10 flex-shrink-0 h-12 bg-white border-b border-gray-200 flex">
            <button
              id="open-sidebar"
              type="button"
              class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
            >
              <span class="sr-only">Open sidebar</span>
              <!-- Heroicon name: outline/menu-alt-2 -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h7"
                />
              </svg>
            </button>
            <div class="flex-1 flex justify-between px-4 md:px-0">
              <div class="flex-1 flex">
              </div>
              <div class="ml-4 flex items-center md:ml-6">
                <button
                  type="button"
                  class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  <span class="sr-only">View notifications</span>
                  <!-- Heroicon name: outline/bell -->
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                    />
                  </svg>
                </button>

                <!-- Profile dropdown -->
                <div class="ml-3 relative pr-6 ">
                  <div>
                    <button
                      type="button"
                      class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                      id="user-menu-button"
                      aria-expanded="false"
                      aria-haspopup="true"
                    >
                      <span class="sr-only">Open user menu</span>
                      <img
                        class="h-8 w-8 rounded-full"
                        src="images/writer-3.png"
                        alt=""
                      />
                    </button>
                  </div>

                  <!--
                Dropdown menu, show/hide based on menu state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
                  <div id="menu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 focus:outline-none"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="user-menu-button"
                    tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <a
                      href="/profile"
                      class="block py-2 px-4 text-sm text-gray-700"
                      role="menuitem"
                      tabindex="-1"
                      id="user-menu-item-0"
                      >Your Profile</a
                    >

                    <a
                      href="/logout"
                      class="block py-2 px-4 text-sm text-gray-700"
                      role="menuitem"
                      tabindex="-1"
                      id="user-menu-item-2"
                      >Sign out</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <main class="flex-1 px-8">
            <section class="py-8">
            <img class=" w-64" src="images/pronto-logo.png" alt="Pronto Logo">
            <!-- <a href="/logout" class="btn-default ">Logout</a> -->
            <!-- <a href="/" class="btn-default">Home</a> -->
            </section>
            <div class="py-6">
              <div class="px-4 sm:px-6 md:px-0">
                <h1 class="text-4xl font-semibold text-gray-900">
                  Hello, <%= user.local.userName %>.
                </h1>
              </div>
              <div class="px-4 sm:px-6 md:px-0">
                <!-- Replace with your content -->
                <div class="container">

                  <section>
                    <div class="pt-8">
                    <h2 class="text-gray-500 text-xl font-medium uppercase tracking-wide">Take a Look at The Current Order Queue:</h2>
                    <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6  lg:grid-cols-1">
                      <% for(var i=0; i <orders.length; i++) {%>
                    <li class="col-span-1 flex shadow-sm rounded-md">

                    <div class="flex-shrink-0 flex items-center justify-center w-40 bg-slate-800 text-white text-sm font-medium rounded-l-md">   
                      <div class="text-sm">
                      <span>Customer:</span>
                      <span><%= orders[i].name %></span>
                    </div>
                    </div>
                    <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
                    <div class="flex-1 px-4 py-2 text-sm truncate">
                    <p href="#" class="text-gray-900 font-medium hover:text-gray-600">Order</p>
                    <p class="text-gray-500"> <%= orders[i].order %> </p>
                    </div>
                    <div class="flex-shrink-0 pr-2">
                    <button type="button" class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="sr-only">Complete Order</span>
                    <!-- Heroicon name: solid/dots-vertical -->
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                    </svg>
                    </button>
                    </div>
                    </div>

                    </li>
                    <% } %>

                    </ul>
                    </div>
                  </section>

                  <!-- current completed orders -->
                  <section>
                    <div class="pt-8">
                    <h2 class="text-gray-500 text-xl font-medium uppercase tracking-wide">Current Completed Orders:</h2>
                    <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6  lg:grid-cols-1">
                      <% for(var i=0; i <completed.length; i++) {%>
                    <li class="col-span-1 flex shadow-sm rounded-md">

                    <div class="flex-shrink-0 flex items-center justify-center w-40 bg-slate-800 text-white text-sm font-medium rounded-l-md">   
                      <div class="text-sm">
                      <span>Barista:</span>
                      <span><%= completed[i].barista%></span>
                    </div>
                    </div>
                    <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
                    <div class="flex-1 px-4 py-2 text-sm truncate">
                    <p href="#" class="text-gray-900 font-medium hover:text-gray-600">Order</p>
                    <p class="text-gray-500"> <%= orders[i].order %> </p>
                    </div>
                    <div class="flex-shrink-0 pr-2">
                    <button type="button" class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="sr-only">Complete Order</span>
                    <!-- Heroicon name: solid/dots-vertical -->
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                    </svg>
                    </button>
                    </div>
                    </div>

                    </li>
                    <% } %>

                    </ul>
                    </div>
                  </section>

            <!-- TODO: this needs to go in the order-dashboard -->
    
            <section class="py-8">
              <h2 class="text-3xl py-4">Take a look at the current Orders:</h2>
                <ul class="">
                <% for(var i=0; i <orders.length; i++) {%>
                  <li>

                    <div class="text-xl">
                      <span>Customer Name:</span>
                      <span><%= orders[i].name %></span>
                    </div>
                    <p>Order: <%= orders[i].order %></p>
                    <span class="hidden"><%= orders[i].completed %></span>
                    <span class="hidden"><%= orders[i]._id %></span>
                    <button type="submit" value="barista" class="w-44 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Complete Order</button>

                  </li>
                  <% } %>
                </ul>
            </section>

                
          <section>
          <h3 class="text-3xl py-4">Completed Orders by Barista:</h3>
          <ul class="orders list-unstyled">
          <% for(var i=0; i <completed.length; i++) {%>
            <li class="completedOrders order box-bottom-shadow">
              <div class="text-xl">
                <p>Barista: <%= completed[i].barista%></p>
                <p>Customer Name: <%= completed[i].name %></p>
              </div>
              <span>Order: <%= completed[i].order %></span>
              <span class="hidden"><%= completed[i]._id %></span>
              <span class="hidden"><%= completed[i].completed %></span>
              <button type="submit" value="clear" class="w-44 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Clear<button>

            
            </li>
          <% } %>
          </ul>
          </section>

           <!-- this needs to go to the order-dashboard -->
          <!-- <section>
            <h3 class="barista">Add Order:</h3>
            <form action="/add" method="POST">
              <div class="form-group">
                <label for="name">Customer Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Customer Name">
              </div>
              <div class="form-group">
                <label for="order">Order:</label>
                <input type="text" class="form-control" id="order" name="order" placeholder="Enter Order">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </section> -->
          <!-- <section>
            <h3 class="barista">Remove Order</h3>
            <form action="/remove" method="POST">
              <div class="form-group">
                <label for="name">Customer Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Customer Name">
              </div>
              <div class="form-group">
                <label for="order">Order:</label>
                <input type="text" class="form-control" id="order" name="order" placeholder="Enter Order">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </section> -->
          

              </div>
                <!-- <div class="py-4">
                  <div
                    class="h-96 border-4 border-dashed border-gray-200 rounded-lg"
                  ></div>
                </div> -->
                <!-- /End replace -->
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <!-- TODO: need to remove this later -->

    <script src="js/profile.js"></script>
  </body>
</html>
